<div class="navbar-fixed">
    <nav class="red darken-3">
        <div class="nav-wrapper container">
            <a class="brand-logo">Editar Empleado</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="menuPrincipal.html">MENÚ PRINCIPAL</a></li>
                <li><a href="/links/ListEmployees">LISTA DE EMPLEADOS</a></li>
                <li><a href="/links/Login">CERRAR SESIÓN</a></li>
            </ul>
        </div>
    </nav>
</div>
<style>
    #firstDiv {
        margin-top: 50px
    }
</style>
<form action="/links/Edit/{{data.IDENTIFICACION}}" method="POST">
<div class="row container" id="firstDiv">
    <div class="input-field col s4">
        <input type="email" value="{{data.CORREO}}" name="Correo" class="validate">
        <label for="Correo">Correo</label>
    </div>
    <div class="input-field col s4">
        <input type="text" value="{{data.SUELDOBASICO}}" name="SueldoBasico" class="validate">
        <label for="Sueldo">Sueldo</label>
    </div>
    <div class="input-field col s4">
        <input type="text" value="{{data.PENSIONES}}" name="Pensiones" class="validate">
        <label for="Pensiones">Pensiones</label>
    </div>
    <div class="input-field col s4">
        <input type="text" value="{{data.CESANTIAS}}" name="Cesantias" class="validate">
        <label for="Cesantias">Cesantias</label>
    </div>
    <div class="input-field col s4">
        <input type="text" value="{{data.EPS}}" name="EPS" class="validate">
        <label for="EPS">EPS</label>
    </div>
    <div class="input-field col s4">
        <input type="text" value="{{data.CARGO}}" name="Cargo" class="validate">
        <label for="Cargo">Cargo</label>
    </div>
</div>
<div class="row container center-align">
    <div class="col s12">
        <button class="waves-effect waves-light btn red darken-4" type="submit">Guardar Cambios</button>
    </div>
</div>
</form> 
</script>