<div class="navbar-fixed">
    <nav class="red darken-4">
        <div class="nav-wrapper container">
            <a class="brand-logo left">Doña Magola</a>
            <ul class="right hide-on ">
                <li><a href="/links/navMenuPrincipal">MENÚ PRINCIPAL</a></li>
                <li><a href="/Logout">CERRAR SESIÓN</a></li>
        </div>

    </nav>
</div>
<div class="row"></div>


<div class="container ">
    <form action="" method="POST">
        <div class="row">

            <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">search</i>
                <input type="text" name="busquedaProducto">
                <label for="buscar">Buscar Producto:</label>
            </div>

            <div class="row">
                <div class="col s6">
                    <button class="btn red darken-4" id="buscar">
                        Buscar</button>
                </div>
            </div>
    </form>

    <div class="row">
        <div class="row center-align">

    <div class="col s6">
        <a href="/links/agregar" class="btn red darken-4"><i class="material-icons left">add</i>Agregar</a>

    </div>
</div>

    </div>


</div>

<div class="row center-align">

    <div class="col s12  l12">
        <!--aca va la tabla del inventario-->
        <table class=" centered responsive-table highlight">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre Producto</th>
                    <th>Tipo</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Valor Compra</th>
                    <th>Gramos por Porcion</th>
                    <th></th>

                </tr>
            </thead>

            <tbody id="contenido">
                {{#if productos}}
                {{#each productos}}
                <tr>
                    <td>{{IDPRODUCTO}}</td>
                    <td>{{NOMBREPRODUCTO}}</td>
                    <td>{{TIPOPRODUCTO}}</td>
                    <td>{{DESCRIPCIONPRODUCTO}}</td>
                    <td>{{CANTIDADINVENTARIO}}</td>
                    <td>{{COSTO}}</td>
                    <td>{{CANTIDADPORCION}}</td>
                    <td> <a href="/links/delete/{{IDPRODUCTO}}" class="btn-floating red"><i class="material-icons left">delete</i></a></td>
                    <td> <a href="/links/edit/{{IDPRODUCTO}}" class="btn-floating green"><i class="material-icons left">create</i></a></td>
                </tr>
                {{/each}}
                {{/if}}
                {{#if tipoProductos}}
                {{#each tipoProductos}}
                <tr>
                    <td>{{IDPRODUCTO}}</td>
                    <td>{{NOMBREPRODUCTO}}</td>
                    <td>{{TIPOPRODUCTO}}</td>
                    <td>{{DESCRIPCIONPRODUCTO}}</td>
                    <td>{{CANTIDADINVENTARIO}}</td>
                    <td>{{COSTO}}</td>
                    <td>{{CANTIDADPORCION}}</td>
                </tr>
                {{/each}}
                {{/if}}

            </tbody>
        </table>
    </div>
</div>

</div>
<script src="/src/routes/links.js"></script>