<style>
    #firstDiv {
        margin-top: 50px;
        margin-left: 20%;
    }
</style>

<div class="navbar-fixed">
    <nav class="red darken-4">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo left ">Lista de Empleados</a>
            <ul class="right hide-on-med-and-down ">
                <li><a href="menuPrincipal.html">MENÚ PRINCIPAL</a></li>
                <li><a href="/links/CreateUser">AÑADIR EMPLEADO</a></li>
                <li><a href="/links/Login">CERRAR SESIÓN</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col s7" id="firstDiv">
        <ul class="collapsible" data-collapsible="accordion" action="/links/ListEmployees" method="POST">
            {{#each empleados}}
            <li>
                <div class="collapsible-header"><i class="material-icons">person</i>{{NOMBRE}}
                    {{APELLIDO}}
                </div>
                <div class="collapsible-body">
                    <span>
                        <table class=" bordered highlight centered">
                            <tbody>
                                <tr>
                                    <td>Identificación:</td>
                                    <td class="center">{{IDENTIFICACION}}</td>
                                </tr>
                                <tr>
                                    <td>Edad:</td>
                                    <td class="center">{{EDAD}}</td>
                                </tr>
                                <tr>
                                    <td>Fecha de Nacimiento:</td>
                                    <td class="center">{{FECHADENACIMIENTO}}</td>
                                </tr>
                                <tr>
                                    <td>Correo:</td>
                                    <td class="center">{{CORREO}}</td>
                                </tr>
                                <tr>
                                    <td>Sueldo:</td>
                                    <td class="center">{{SUELDOBASICO}}</td>
                                </tr>
                                <tr>
                                    <td>Pensiones:</td>
                                    <td class="center">{{PENSIONES}}</td>
                                </tr>
                                <tr>
                                    <td>Cesantias:</td>
                                    <td class="center">{{CESANTIAS}}</td>
                                </tr>
                                <tr>
                                    <td>EPS:</td>
                                    <td class="center">{{EPS}}</td>
                                </tr>
                                <tr>
                                    <td>Fecha de Ingreso:</td>
                                    <td class="center">{{FECHAINGRESO}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row"></div>
                        <div class="col s6 center">
                            <a href="/links/Edit/{{IDENTIFICACION}}" class="waves-effect waves-light btn red darken-4" type="submit">Modificar</a>
                        </div>
                        <div class="col s6 center">
                            <a href="/links/Delete/{{IDENTIFICACION}}"
                                class="waves-effect waves-light btn red darken-4">Eliminar</a>
                        </div>
                        <div class="row"></div>

                    </span>
                </div>
            </li>
            {{else}}
            <div class="collapsible-header"><i class="material-icons">add</i>No tienes ningun empleado creado :(
            </div>
            <div class="row"></div>
            <div class="col s12 center">
                <a href="/links/CreateUser" class="waves-effect waves-light btn red darken-4">¡Crea Uno!</a>
            </div>

            {{/each}}
        </ul>
    </div>
</div>
<!-- Modal Structure -->